<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Before beginning your analysis, it is critical that you first examine and clean the dataset, to make working with it a more efficient process. You will practice fixing data types, handling missing values, and dropping columns and rows while learning about the Stanford Open Policing Project dataset.

***

## Examining the dataset

You'll be analyzing a dataset of traffic stops in Rhode Island that was collected by the Stanford Open Policing Project.

Before beginning your analysis, it's important that you familiarize yourself with the dataset. You'll read the dataset into pandas, examine the first few rows, and then count the number of missing values.

**INSTRUCTIONS**

*   Import pandas using the alias ``pd``.
*   Read the file police.csv into a DataFrame named ``ri``
*   Examine the first 5 rows of the ``DataFrame`` (known as the ``"head"``).
*   Count the number of missing values in each column: Use ``.isnull()`` to check which ``DataFrame`` elements are missing, and then take the ``.sum()`` to count the number of ``True`` values in each column.

In [1]:
import pandas as pd

In [2]:
ri = pd.read_csv("C:\\Users\\NIO\\Downloads\\Traffic Police Stops\\police.csv\\police.csv", low_memory = False)

In [3]:
ri.head()

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,NaN,NaN,NaN,600,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,RI-2005-00003,RI,2005-01-04,11:30,Zone X1,NaN,NaN,NaN,000,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X1
3,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4

In [4]:
ri.isnull()

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
1,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
2,False,False,False,False,False,True,True,True,False,True,...,False,True,True,False,True,True,True,True,False,False
3,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
4,False,False,False,False,False,True,True,True,False,False,...,False,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509676,False,False,True,True,False,True,True,True,True,True,...,True,True,True,False,True,True,True,True,False,False
509677,False,False,True,True,False,True,True,True,True,True,...,True,True,True,False,True,True,True,True,False,False
509678,False,False,True,True,False,True,True,True,True,True,...,True,True,True,False,True,True,True,True,False,False
509679,False,False,True,True,False,True,True,True,True,True,...,True,True,True,False,True,True,True,True,False,False
509680,False,False,True,True,False,True,True,True,True,True,...,True,True,True,False,True,True,True,True,False,False

In [5]:
ri.isnull().sum()

id                            0
state                         0
stop_date                    10
stop_time                    10
location_raw                  0
county_name              509681
county_fips              509681
fine_grained_location    509681
police_department            10
driver_gender             29097
driver_age_raw            29049
driver_age                30695
driver_race_raw           29073
driver_race               29073
violation_raw             29073
violation                 29073
search_conducted             10
search_type_raw          491919
search_type              491919
contraband_found              0
stop_outcome              29073
is_arrested               29073
stop_duration             29073
out_of_state              29881
drugs_related_stop            0
district                      0
dtype: int64

***

## Dropping columns

Often, a DataFrame will contain columns that are not useful to your analysis. Such columns should be dropped from the ``DataFrame``, to make it easier for you to focus on the remaining columns.

You'll drop the ``county_name`` column because it only contains missing values, and you'll drop the ``state`` column because all of the traffic stops took place in one state (Rhode Island). Thus, these columns can be dropped because they contain no useful information.

**INSTRUCTIONS**

*   Examine the ``DataFrame``'s shape to find out the number of rows and columns.

*   Drop the columns that almost consist of missing values. 

*   Examine the ``.shape`` again to verify that there are now two fewer columns.

In [6]:
ri.shape

(509681, 26)

In [7]:
ri.drop(["county_name","state"], axis=1, inplace = True)

In [8]:
ri.shape

(509681, 24)

***

## Dropping rows

When you know that a specific column will be critical to your analysis, and only a small fraction of rows are missing a value in that column, it often makes sense to remove those rows from the dataset.

During this course, the ``driver_gender`` column will be critical to many of your analyses. Because only a small fraction of rows are missing ``driver_gender``, we'll drop those rows from the dataset.

**INSTRUCTIONS**

*   Count the number of missing values in each column.

*   Drop all rows that are missing ``driver_gender`` by passing the column name to the subset parameter of ``.dropna()``.
*   Count the number of missing values in each column again, to verify that none of the remaining rows are missing ``driver_gender``.
*   Examine the ``DataFrame``'s ``.shape`` to see how many rows and columns remain.

In [9]:
ri.shape

(509681, 24)

In [10]:
ri.isnull().sum()

id                            0
stop_date                    10
stop_time                    10
location_raw                  0
county_fips              509681
fine_grained_location    509681
police_department            10
driver_gender             29097
driver_age_raw            29049
driver_age                30695
driver_race_raw           29073
driver_race               29073
violation_raw             29073
violation                 29073
search_conducted             10
search_type_raw          491919
search_type              491919
contraband_found              0
stop_outcome              29073
is_arrested               29073
stop_duration             29073
out_of_state              29881
drugs_related_stop            0
district                      0
dtype: int64

In [11]:
ri.dropna(subset = ["driver_gender"], inplace= True)

In [12]:
ri.shape

(480584, 24)

***

## Fixing a data type

We know that the ``is_arrested`` column currently has the ``object`` data type. In this exercise, we'll change the data type to ``bool``, which is the most suitable type for a column containing ``True`` and ``False`` values.

Fixing the data type will enable us to use mathematical operations on the ``is_arrested`` column that would not be possible otherwise.

**INSTRUCTIONS**

*   Examine the head of the ``is_arrested`` column to verify that it contains ``True`` and ``False`` values.
*   Check the current data type of ``is_arrested``.
*   Use the ``.astype()`` method to convert ``is_arrested`` to a ``bool`` column.
*   Check the new data type of ``is_arrested``, to confirm that it is now a ``bool`` column.

In [13]:
ri[["is_arrested"]].head()

  is_arrested
0       False
1       False
3       False
4       False
5       False

In [14]:
ri["is_arrested"].dtypes

dtype('O')

In [15]:
ri['is_arrested'] = ri['is_arrested'].astype('bool')

In [16]:
ri["is_arrested"].dtypes

dtype('bool')

***

## Combining object columns

Currently, the date and time of each traffic stop are stored in separate object columns: ``stop_date`` and ``stop_time``.

You'll combine these two columns into a single column, and then convert it to ``datetime`` format. This will enable convenient date-based attributes that we'll use later in the course.

**INSTRUCTIONS**

*    Use a string method to concatenate ``stop_date`` and ``stop_time`` (separated by a space), and store the result in ``combined``.
*    Convert ``combined`` to ``datetime`` format, and store the result in a new column named ``stop_datetime``.
*    Examine the ``DataFrame`` ``.dtypes`` to confirm that ``stop_datetime`` is a datetime column.

In [17]:
combined = ri["stop_date"] + " " + ri["stop_time"]
combined

0         2005-01-02 01:55
1         2005-01-02 20:30
3         2005-01-04 12:55
4         2005-01-06 01:30
5         2005-01-12 08:05
                ...
509666    2015-12-31 22:46
509667    2015-12-31 22:47
509668    2015-12-31 23:08
509669    2015-12-31 23:44
509670    2015-12-31 23:48
Length: 480584, dtype: object

In [18]:
ri["stop_datetime"] = pd.to_datetime(combined)
ri.dtypes

id                               object
stop_date                        object
stop_time                        object
location_raw                     object
county_fips                     float64
fine_grained_location           float64
police_department                object
driver_gender                    object
driver_age_raw                  float64
driver_age                      float64
driver_race_raw                  object
driver_race                      object
violation_raw                    object
violation                        object
search_conducted                 object
search_type_raw                  object
search_type                      object
contraband_found                   bool
stop_outcome                     object
is_arrested                        bool
stop_duration                    object
out_of_state                     object
drugs_related_stop                 bool
district                         object
stop_datetime            datetime64[ns]
dtype: object

The last step that you'll take in this chapter is to set the ``stop_datetime`` column as the ``DataFrame``'s index. By replacing the default index with a ``DatetimeIndex``, you'll make it easier to analyze the dataset by date and time, which will come in handy later in the course.

**INSTRUCTIONS**

*   Set ``stop_datetime`` as the ``DataFrame`` index.
*   Examine the index to verify that it is a ``DatetimeIndex``.
*   Examine the ``DataFrame`` columns to confirm that ``stop_datetime`` is no longer one of the columns.

In [19]:
ri.set_index("stop_datetime", inplace= True)

In [20]:
ri

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,2005-01-02,01:55,Zone K1,NaN,NaN,600,M,1985.0,20.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,2005-01-02,20:30,Zone X4,NaN,NaN,500,M,1987.0,18.0,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2005-01-04 12:55:00,RI-2005-00004,2005-01-04,12:55,Zone X4,NaN,NaN,500,M,1986.0,19.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-06 01:30:00,RI-2005-00005,2005-01-06,01:30,Zone X4,NaN,NaN,500,M,1978.0,27.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-12 08:05:00,RI-2005-00006,2005-01-12,08:05,Zone X1,NaN,NaN,000,M,1973.0,32.0,...,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-31 22:46:00,RI-2015-47061,2015-12-31,22:46,Zone X1,NaN,NaN,000,M,1959.0,56.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X1
2015-12-31 22:47:00,RI-2015-47062,2015-12-31,22:47,Zone X4,NaN,NaN,500,M,1988.0,27.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2015-12-31 23:08:00,RI-2015-47063,2015-12-31,23:08,Zone X3,NaN,NaN,200,M,1980.0,35.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X3
2015-12-31 23:44:00,RI-2015-47064,2015-12-31,23:44,Zone K2,NaN,NaN,900,M,1984.0,31.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K2
2015-12-31 23:48:00,RI-2015-47065,2015-12-31,23:48,Zone K3,NaN,NaN,300,M,1988.0,27.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3

In [21]:
type(ri.index)

pandas.core.indexes.datetimes.DatetimeIndex

<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Does the ``gender`` of a driver have an impact on police behavior during a traffic stop? **In this chapter**, you will explore that question while practicing filtering, grouping, method chaining, Boolean math, string methods, and more!

***

## Examining traffic violations

Before comparing the violations being committed by each gender, you should examine the ``violations`` committed by all drivers to get a baseline understanding of the data.

In this exercise, you'll count the unique values in the ``violation`` column, and then separately express those counts as proportions.

> Before starting your work in this section **repeat the steps which you did in the previos chapter for preparing the data.** Continue to this chapter based on where you were in the end of the previous chapter.

**INSTRUCTIONS**

*   Count the unique values in the ``violation`` column, to see what violations are being committed by all drivers.
*   Express the violation counts as proportions of the total.

In [22]:
ri.groupby("violation").count()

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
violation,,,,,,,,,,,,,,,,,,,,,
Equipment,61250,61250,61250,61250,0,0,61250,61250,61249,61151,...,61250,3913,3913,61250,61250,61250,61250,61159,61250,61250
Moving violation,90228,90228,90228,90228,0,0,90228,90228,90228,89934,...,90228,4959,4959,90228,90228,90228,90228,90015,90228,90228
Other,24216,24216,24216,24216,0,0,24216,24216,24216,23548,...,24216,1116,1116,24216,24216,24216,24216,24080,24216,24216
Registration/plates,19830,19830,19830,19830,0,0,19830,19830,19830,19805,...,19830,1778,1778,19830,19830,19830,19830,19802,19830,19830
Seat belt,16324,16324,16324,16324,0,0,16324,16324,16324,16317,...,16324,468,468,16324,16324,16324,16324,16297,16324,16324
Speeding,268736,268736,268736,268736,0,0,268736,268736,268736,268191,...,268736,5528,5528,268736,268736,268736,268736,268423,268736,268736

In [23]:
ri["violation"].count().sum()

480584

In [24]:
ri["violation"].value_counts()

Speeding               268736
Moving violation        90228
Equipment               61250
Other                   24216
Registration/plates     19830
Seat belt               16324
Name: violation, dtype: int64

In [25]:
ri["violation"].value_counts() / ri["violation"].count().sum()

Speeding               0.559186
Moving violation       0.187747
Equipment              0.127449
Other                  0.050389
Registration/plates    0.041262
Seat belt              0.033967
Name: violation, dtype: float64

***

## Comparing violations by gender

The question we're trying to answer is whether male and female drivers tend to commit different types of traffic violations.

You'll first create a ``DataFrame`` for each gender, and then analyze the ``violations`` in each ``DataFrame`` separately.

**INSTRUCTIONS**

*   Create a ``DataFrame``, female, that only contains rows in which ``driver_gender`` is ``'F'``.
*   Create a ``DataFrame``, male, that only contains rows in which ``driver_gender`` is ``'M'``.
*   Count the ``violations`` committed by female drivers and express them as proportions.
*   Count the violations committed by male drivers and express them as proportions.

In [26]:
female_violation = ri[ri["driver_gender"] == "F"]
female_violation

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-02-24 01:20:00,RI-2005-00016,2005-02-24,01:20,Zone X3,NaN,NaN,200,F,1983.0,22.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3
2005-03-14 10:00:00,RI-2005-00019,2005-03-14,10:00,Zone K3,NaN,NaN,300,F,1984.0,21.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
2005-03-29 23:20:00,RI-2005-00026,2005-03-29,23:20,Zone K3,NaN,NaN,300,F,1971.0,34.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
2005-06-06 13:20:00,RI-2005-00035,2005-06-06,13:20,Zone X4,NaN,NaN,500,F,1986.0,19.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-06-18 16:30:00,RI-2005-00037,2005-06-18,16:30,Zone X4,NaN,NaN,500,F,1964.0,41.0,...,False,NaN,NaN,False,Arrest Driver,True,30+ Min,False,False,Zone X4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-31 21:59:00,RI-2015-47051,2015-12-31,21:59,Zone K3,NaN,NaN,300,F,1994.0,21.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
2015-12-31 22:09:00,RI-2015-47054,2015-12-31,22:09,Zone K3,NaN,NaN,300,F,1992.0,23.0,...,False,NaN,NaN,False,Warning,False,0-15 Min,False,False,Zone K3
2015-12-31 22:10:00,RI-2015-47055,2015-12-31,22:10,Zone X4,NaN,NaN,300,F,1989.0,26.0,...,False,NaN,NaN,False,Warning,False,0-15 Min,False,False,Zone X4
2015-12-31 22:10:00,RI-2015-47056,2015-12-31,22:10,Zone X4,NaN,NaN,300,F,1989.0,26.0,...,False,NaN,NaN,False,Arrest Driver,True,0-15 Min,False,False,Zone X4
2015-12-31 22:39:00,RI-2015-47060,2015-12-31,22:39,Zone K3,NaN,NaN,300,F,1976.0,39.0,...,False,NaN,NaN,False,Citation,False,16-30 Min,True,False,Zone K3

In [27]:
male_violation = ri[ri["driver_gender"] == "M"]
male_violation

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,2005-01-02,01:55,Zone K1,NaN,NaN,600,M,1985.0,20.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,2005-01-02,20:30,Zone X4,NaN,NaN,500,M,1987.0,18.0,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2005-01-04 12:55:00,RI-2005-00004,2005-01-04,12:55,Zone X4,NaN,NaN,500,M,1986.0,19.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-06 01:30:00,RI-2005-00005,2005-01-06,01:30,Zone X4,NaN,NaN,500,M,1978.0,27.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-12 08:05:00,RI-2005-00006,2005-01-12,08:05,Zone X1,NaN,NaN,000,M,1973.0,32.0,...,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-31 22:46:00,RI-2015-47061,2015-12-31,22:46,Zone X1,NaN,NaN,000,M,1959.0,56.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X1
2015-12-31 22:47:00,RI-2015-47062,2015-12-31,22:47,Zone X4,NaN,NaN,500,M,1988.0,27.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2015-12-31 23:08:00,RI-2015-47063,2015-12-31,23:08,Zone X3,NaN,NaN,200,M,1980.0,35.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X3
2015-12-31 23:44:00,RI-2015-47064,2015-12-31,23:44,Zone K2,NaN,NaN,900,M,1984.0,31.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K2
2015-12-31 23:48:00,RI-2015-47065,2015-12-31,23:48,Zone K3,NaN,NaN,300,M,1988.0,27.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3

In [28]:
female_violation.groupby("violation").count()

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
violation,,,,,,,,,,,,,,,,,,,,,
Equipment,14039,14039,14039,14039,0,0,14039,14039,14038,14017,...,14039,565,565,14039,14039,14039,14039,14022,14039,14039
Moving violation,17911,17911,17911,17911,0,0,17911,17911,17911,17866,...,17911,681,681,17911,17911,17911,17911,17883,17911,17911
Other,3791,3791,3791,3791,0,0,3791,3791,3791,3724,...,3791,174,174,3791,3791,3791,3791,3772,3791,3791
Registration/plates,5649,5649,5649,5649,0,0,5649,5649,5649,5644,...,5649,309,309,5649,5649,5649,5649,5641,5649,5649
Seat belt,3550,3550,3550,3550,0,0,3550,3550,3550,3549,...,3550,63,63,3550,3550,3550,3550,3542,3550,3550
Speeding,86198,86198,86198,86198,0,0,86198,86198,86198,86028,...,86198,667,667,86198,86198,86198,86198,86098,86198,86198

In [29]:
female_violation["violation"].count().sum()

131138

In [30]:
female_violation["violation"].value_counts()

Speeding               86198
Moving violation       17911
Equipment              14039
Registration/plates     5649
Other                   3791
Seat belt               3550
Name: violation, dtype: int64

In [31]:
female_violation["violation"].value_counts() / female_violation["violation"].count().sum()

Speeding               0.657308
Moving violation       0.136581
Equipment              0.107055
Registration/plates    0.043077
Other                  0.028908
Seat belt              0.027071
Name: violation, dtype: float64

In [32]:
male_violation.groupby("violation").count()

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
violation,,,,,,,,,,,,,,,,,,,,,
Equipment,47211,47211,47211,47211,0,0,47211,47211,47211,47134,...,47211,3348,3348,47211,47211,47211,47211,47137,47211,47211
Moving violation,72317,72317,72317,72317,0,0,72317,72317,72317,72068,...,72317,4278,4278,72317,72317,72317,72317,72132,72317,72317
Other,20425,20425,20425,20425,0,0,20425,20425,20425,19824,...,20425,942,942,20425,20425,20425,20425,20308,20425,20425
Registration/plates,14181,14181,14181,14181,0,0,14181,14181,14181,14161,...,14181,1469,1469,14181,14181,14181,14181,14161,14181,14181
Seat belt,12774,12774,12774,12774,0,0,12774,12774,12774,12768,...,12774,405,405,12774,12774,12774,12774,12755,12774,12774
Speeding,182538,182538,182538,182538,0,0,182538,182538,182538,182163,...,182538,4861,4861,182538,182538,182538,182538,182325,182538,182538

In [33]:
male_violation["violation"].count().sum()

349446

In [34]:
male_violation["violation"].value_counts()

Speeding               182538
Moving violation        72317
Equipment               47211
Other                   20425
Registration/plates     14181
Seat belt               12774
Name: violation, dtype: int64

In [35]:
male_violation["violation"].value_counts() / male_violation["violation"].count().sum()

Speeding               0.522364
Moving violation       0.206948
Equipment              0.135102
Other                  0.058450
Registration/plates    0.040581
Seat belt              0.036555
Name: violation, dtype: float64

***

## Comparing speeding outcomes by gender

When a driver is pulled over for speeding, many people believe that gender has an impact on whether the driver will receive a ticket or a warning. Can you find evidence of this in the dataset?

First, you'll create two ``DataFrames`` of drivers who were stopped for ``speeding``: one containing ***females*** and the other containing ***males***.

Then, for each **gender**, you'll use the ``stop_outcome`` column to calculate what percentage of stops resulted in a ``"Citation"`` (meaning a ticket) versus a ``"Warning"``.

**INSTRUCTIONS**

*   Create a ``DataFrame``, ``female_and_speeding``, that only includes female drivers who were stopped for speeding.
*   Create a ``DataFrame``, ``male_and_speeding``, that only includes male drivers who were stopped for speeding.
*   Count the **stop outcomes** for the female drivers and express them as proportions.
*   Count the **stop outcomes** for the male drivers and express them as proportions.

In [36]:
female_and_speeding = female_violation[female_violation["violation"] == "Speeding"]
female_and_speeding

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-02-24 01:20:00,RI-2005-00016,2005-02-24,01:20,Zone X3,NaN,NaN,200,F,1983.0,22.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3
2005-03-14 10:00:00,RI-2005-00019,2005-03-14,10:00,Zone K3,NaN,NaN,300,F,1984.0,21.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
2005-03-29 23:20:00,RI-2005-00026,2005-03-29,23:20,Zone K3,NaN,NaN,300,F,1971.0,34.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
2005-06-06 13:20:00,RI-2005-00035,2005-06-06,13:20,Zone X4,NaN,NaN,500,F,1986.0,19.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-07-06 11:22:00,RI-2005-00038,2005-07-06,11:22,Zone X1,NaN,NaN,000,F,1973.0,32.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-31 19:44:00,RI-2015-47028,2015-12-31,19:44,Zone K2,NaN,NaN,500,F,1969.0,46.0,...,False,NaN,NaN,False,Warning,False,0-15 Min,False,False,Zone K2
2015-12-31 20:05:00,RI-2015-47031,2015-12-31,20:05,Zone K2,NaN,NaN,900,F,1996.0,19.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K2
2015-12-31 20:42:00,RI-2015-47041,2015-12-31,20:42,Zone K2,NaN,NaN,900,F,1978.0,37.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K2
2015-12-31 21:47:00,RI-2015-47050,2015-12-31,21:47,Zone K3,NaN,NaN,300,F,1996.0,19.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
2015-12-31 21:59:00,RI-2015-47051,2015-12-31,21:59,Zone K3,NaN,NaN,300,F,1994.0,21.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3

In [37]:
male_and_speeding = male_violation[male_violation["violation"] == "Speeding"]
male_and_speeding

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,2005-01-02,01:55,Zone K1,NaN,NaN,600,M,1985.0,20.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,2005-01-02,20:30,Zone X4,NaN,NaN,500,M,1987.0,18.0,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2005-01-18 08:15:00,RI-2005-00007,2005-01-18,08:15,Zone K3,NaN,NaN,300,M,1965.0,40.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
2005-01-23 23:15:00,RI-2005-00009,2005-01-23,23:15,Zone K3,NaN,NaN,300,M,1972.0,33.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
2005-01-24 20:32:00,RI-2005-00010,2005-01-24,20:32,Zone K1,NaN,NaN,600,M,1987.0,18.0,...,True,Probable Cause,Probable Cause,True,Citation,False,0-15 Min,True,True,Zone K1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-31 20:50:00,RI-2015-47044,2015-12-31,20:50,Zone K2,NaN,NaN,500,M,1994.0,21.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K2
2015-12-31 21:42:00,RI-2015-47049,2015-12-31,21:42,Zone X1,NaN,NaN,000,M,1993.0,22.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X1
2015-12-31 22:26:00,RI-2015-47058,2015-12-31,22:26,Zone K3,NaN,NaN,300,M,1964.0,51.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
2015-12-31 22:46:00,RI-2015-47061,2015-12-31,22:46,Zone X1,NaN,NaN,000,M,1959.0,56.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X1
2015-12-31 23:44:00,RI-2015-47064,2015-12-31,23:44,Zone K2,NaN,NaN,900,M,1984.0,31.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K2

In [38]:
female_and_speeding["stop_outcome"].count().sum()

86198

In [39]:
female_and_speeding["stop_outcome"].value_counts()

Citation            82168
Warning              3362
Arrest Driver         456
Arrest Passenger       89
N/D                    78
No Action              45
Name: stop_outcome, dtype: int64

In [40]:
female_and_speeding["stop_outcome"].value_counts() / female_and_speeding["stop_outcome"].count().sum()

Citation            0.953247
Warning             0.039003
Arrest Driver       0.005290
Arrest Passenger    0.001033
N/D                 0.000905
No Action           0.000522
Name: stop_outcome, dtype: float64

In [41]:
male_and_speeding["stop_outcome"].count().sum()

182538

In [42]:
male_and_speeding["stop_outcome"].value_counts()

Citation            172432
Warning               6587
Arrest Driver         2878
Arrest Passenger       231
N/D                    216
No Action              194
Name: stop_outcome, dtype: int64

In [43]:
male_and_speeding["stop_outcome"].value_counts() / male_and_speeding["stop_outcome"].count().sum()

Citation            0.944636
Warning             0.036086
Arrest Driver       0.015767
Arrest Passenger    0.001265
N/D                 0.001183
No Action           0.001063
Name: stop_outcome, dtype: float64

***

## Calculating the search rate

During a traffic stop, the police officer sometimes conducts a search of the vehicle. In this exercise, you'll calculate the percentage of all stops that result in a vehicle search, also known as the **search rate**.

**INSTRUCTIONS**

*   Check the data type of ``search_conducted`` to confirm that it's a ``Boolean Series``.
*   Calculate the search rate by counting the ``Series`` values and expressing them as proportions.
*   Calculate the search rate by taking the mean of the ``Series``. (It should match the proportion of ``True`` values calculated above.)

In [44]:
ri['search_conducted'] = ri['search_conducted'].astype('bool')

In [45]:
ri["search_conducted"].dtype

dtype('bool')

In [46]:
ri["search_conducted"].count().sum()

480584

In [47]:
ri["search_conducted"].value_counts()

False    462822
True      17762
Name: search_conducted, dtype: int64

In [48]:
ri["search_conducted"].value_counts() / ri["search_conducted"].count().sum()

False    0.963041
True     0.036959
Name: search_conducted, dtype: float64

In [49]:
ri["search_conducted"].mean()

0.036959199640437465

***

## Comparing search rates by gender

You'll compare the rates at which **female** and **male** drivers are searched during a traffic stop. Remember that the vehicle search rate across all stops is about **3.8%**.

First, you'll filter the ``DataFrame`` by gender and calculate the search rate for each group separately. Then, you'll perform the same calculation for both genders at once using a ``.groupby()``.

**INSTRUCTIONS 1/3**

*   Filter the ``DataFrame`` to only include **female** drivers, and then calculate the search rate by taking the mean of ``search_conducted``.

In [50]:
ri[ri["driver_gender"] == "F"]["search_conducted"].mean()

0.018751239152648355

**INSTRUCTIONS 2/3**

*   Filter the ``DataFrame`` to only include **male** drivers, and then repeat the search rate calculation.

In [51]:
ri[ri["driver_gender"] == "M"]["search_conducted"].mean()

0.04379217389811301

**INSTRUCTIONS 3/3**

*   Group by driver gender to calculate the search rate for both groups simultaneously. (It should match the previous results.)

In [52]:
ri.groupby(['driver_gender']).mean()["search_conducted"]

driver_gender
F    0.018751
M    0.043792
Name: search_conducted, dtype: float64

***

## Adding a second factor to the analysis

Even though the search rate for males is much higher than for females, it's possible that the difference is mostly due to a second factor.

For example, you might hypothesize that the search rate varies by violation type, and the difference in search rate between males and females is because they tend to commit different violations.

You can test this hypothesis by examining the search rate for each combination of gender and violation. If the hypothesis was true, you would find that males and females are searched at about the same rate for each violation. Find out below if that's the case!

**INSTRUCTIONS 1/2**

*   Use a ``.groupby()`` to calculate the search rate for each combination of gender and violation. Are males and females searched at about the same rate for each violation?

In [53]:
ri.groupby(["driver_gender","violation"]).mean()[["search_conducted"]]

                                   search_conducted
driver_gender violation
F             Equipment                    0.040245
              Moving violation             0.038021
              Other                        0.045898
              Registration/plates          0.054700
              Seat belt                    0.017746
              Speeding                     0.007738
M             Equipment                    0.070916
              Moving violation             0.059156
              Other                        0.046120
              Registration/plates          0.103589
              Seat belt                    0.031705
              Speeding                     0.026630

**INSTRUCTIONS 2/2**

*   Reverse the ordering to group by violation before gender. The results may be easier to compare when presented this way.

In [54]:
ri.groupby(["violation","driver_gender"]).mean()[["search_conducted"]]

                                   search_conducted
violation           driver_gender
Equipment           F                      0.040245
                    M                      0.070916
Moving violation    F                      0.038021
                    M                      0.059156
Other               F                      0.045898
                    M                      0.046120
Registration/plates F                      0.054700
                    M                      0.103589
Seat belt           F                      0.017746
                    M                      0.031705
Speeding            F                      0.007738
                    M                      0.026630

***

## Counting protective frisks

During a vehicle search, the police officer may pat down the driver to check if they have a weapon. This is known as a ``"protective frisk."``

You'll first check to see how many times "Protective Frisk" was the only search type. Then, you'll use a string method to locate all instances in which the driver was frisked.

**INSTRUCTIONS**

*   Count the ``search_type`` values to see how many times ``"Protective Frisk"`` was the only search type.
*   Create a new column, frisk, that is ``True`` if ``search_type`` contains the string ``"Protective Frisk"`` and ``False`` otherwise.
*   Check the data type of frisk to confirm that it's a ``Boolean Series``.
*   Take the sum of frisk to count the total number of frisks.

In [55]:
ri["search_type"].value_counts()["Protective Frisk"]

879

In [56]:
ri["frisk"] = ri["search_type"] == "Protective Frisk"

In [57]:
ri[["frisk"]].dtypes

frisk    bool
dtype: object

In [58]:
ri[["frisk"]].sum()

frisk    879
dtype: int64

***

## Comparing frisk rates by gender

You'll compare the rates at which female and male drivers are frisked during a search. Are males frisked more often than females, perhaps because police officers consider them to be higher risk?

Before doing any calculations, it's important to filter the ``DataFrame`` to only include the relevant subset of data, namely stops in which a search was conducted.

**INSTRUCTIONS**

*   Create a ``DataFrame``, searched, that only contains rows in which ``search_conducted`` is ``True``.
*   Take the mean of the frisk column to find out what percentage of searches included a frisk.
*   Calculate the frisk rate for each gender using a ``.groupby()``.

In [59]:
searched = ri[ri["search_conducted"] == True]
searched

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,frisk
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-24 20:32:00,RI-2005-00010,2005-01-24,20:32,Zone K1,NaN,NaN,600,M,1987.0,18.0,...,Probable Cause,Probable Cause,True,Citation,False,0-15 Min,True,True,Zone K1,False
2005-02-09 03:05:00,RI-2005-00011,2005-02-09,03:05,Zone X4,NaN,NaN,500,M,1976.0,29.0,...,"Probable Cause,Terry Frisk","Probable Cause,Protective Frisk",False,Citation,False,0-15 Min,False,False,Zone X4,False
2005-08-28 01:00:00,RI-2005-00084,2005-08-28,01:00,Zone X1,NaN,NaN,000,M,1979.0,26.0,...,"Incident to Arrest,Terry Frisk","Incident to Arrest,Protective Frisk",False,Arrest Driver,True,16-30 Min,True,False,Zone X1,False
2005-09-15 02:20:00,RI-2005-00094,2005-09-15,02:20,Zone X4,NaN,NaN,500,M,1988.0,17.0,...,Incident to Arrest,Incident to Arrest,False,Arrest Driver,True,16-30 Min,False,False,Zone X4,False
2005-09-24 02:20:00,RI-2005-00115,2005-09-24,02:20,Zone K3,NaN,NaN,300,M,1987.0,18.0,...,Incident to Arrest,Incident to Arrest,False,Arrest Driver,True,16-30 Min,False,False,Zone K3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-28 11:05:00,RI-2015-46706,2015-12-28,11:05,Zone K3,NaN,NaN,300,F,1996.0,19.0,...,Incident to Arrest,Incident to Arrest,True,Citation,False,16-30 Min,True,True,Zone K3,False
2015-12-30 01:37:00,RI-2015-46870,2015-12-30,01:37,Zone X4,NaN,NaN,500,M,1979.0,36.0,...,Terry Frisk,Protective Frisk,False,Citation,False,0-15 Min,False,False,Zone X4,True
2015-12-30 08:51:00,RI-2015-46903,2015-12-30,08:51,Zone K3,NaN,NaN,300,F,1987.0,28.0,...,"Probable Cause,Reasonable Suspicion","Probable Cause,Reasonable Suspicion",True,Citation,False,30+ Min,True,True,Zone K3,False
2015-12-30 13:15:00,RI-2015-46934,2015-12-30,13:15,Zone X3,NaN,NaN,200,M,1992.0,23.0,...,Incident to Arrest,Incident to Arrest,False,Arrest Passenger,True,16-30 Min,True,False,Zone X3,False
2015-12-30 15:58:00,RI-2015-46950,2015-12-30,15:58,Zone K2,NaN,NaN,900,M,1976.0,39.0,...,"Odor of Drugs/Alcohol,Probable Cause,Reasonabl...","Probable Cause,Reasonable Suspicion",False,Citation,False,30+ Min,True,False,Zone K2,False

In [60]:
searched["frisk"].mean()

0.04948767030739781

In [186]:
searched.groupby(["driver_gender"]).mean()["frisk"]

driver_gender
F    0.042294
M    0.050644
Name: frisk, dtype: float64